<?xml version="1.0"?>
<model>
  <name>simple_rover</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Jawad</name>
    <email>none@example.com</email>
  </author>
  <description>Simple differential drive rover for ROS 2 Gazebo simulation.</description>
</model>